body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border: 3px solid #177579;;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    font-size: 1em;
}